.colorChange {
    background-color: rgb(245, 200, 0);
    color: rgb(245, 200, 0);
    /* color: #999; */
}

.colorChange span {
font-size: 5rem;
display: inline-block;
animation: change 5s ease-in-out infinite;
}

@keyframes change {
0% {
    color: rgb(245, 200, 0);
}
15% {
    color: rgb(255, 232, 132);
}
25% {
    color: azure;
}
50% {
    text-shadow: 0 25px 30px rgb(8, 0, 43);
}
75% {
    color: azure;
}
85% {
    color: rgb(255, 232, 132);
}
100% {
    color: rgb(245, 200, 0);
}
}

.words span:nth-child(1) {
animation-delay: 2s;
}