footer {
    position: inherit;
}
.siteFooter {
    background-color: rgb(20, 20, 20);
    color: grey;
}

.footRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.footRow a {
    color: grey;
    font-size: 28px;
    padding: 10px;
}

.bottomSpace {
    margin-bottom: 12%;
}