body {
    background-color: rgb(245, 200, 0);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: auto;
    padding: 20px;
    background-color: rgb(245, 200, 0);
}

.mainBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBody p span {
    font-size: 40vh;    
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.align {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
}
.editLink a {
    text-decoration: none;
    background-color: black;
    padding: 4px;
    border-radius: 15%;
    color: azure;
}